<!DOCTYPE html>
<html>
<head>
  <title>Url details</title>
</head>
<body>
  <header>
    <% include ./partials/_header %>
  </header>

  <div>
    <%= shortURL %> : <%= url %>
  </div>
</body>
</html>