<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body style="font-size:20px; padding:50px;">
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-4">
          <% include ./partials/_header %>
        </div>
      </div>
      <div class="page-header">
        <h1>New URL</h1>
      </div>

      <div class="row">
        <div class="col-sm-8">
          <!-- The form will call the POST method on the /urls path -->
          <form action="/urls" method="POST">
            <label for="longURL">Enter a URL:</label>
            <input id="longURL" type="text" name="longURL" placeholder="http://" style="width: 300px">
            <input type="submit" value="Submit">
          </form>
        </div>
      </div>
    </div>
  </body>
</html>
