<!DOCTYPE html>
<html lang="en">
  <head>
    <title>TinyApp</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style type="text/css">
      tr, td {
        font-size: 1.2em;
      }

      th {
        padding-right: 15px;
      }
    </style>
  </head>
  <body>
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-4">
          <header>
            <% include ./partials/_header %>
          </header>
        </div>
      </div>

      <div class="page-header" style="padding-left: 10px;">
        <h1>URLs</h1>
      </div>
      <table class="table-striped">
        <tr>
          <th>Short URL</th>
          <th>Long URL</th>
          <th>Actions</th>
        </tr>
          <% for(var item in urls) {%>
              <% if(urls.hasOwnProperty(item)){ %>
              <tr>
                <td><%= item %></td>
                <td><%= urls[item] %></td>
                <td>
                  <form class="form-inline" method="POST" action="/urls/<%= item %>/delete?_method=DELETE" style="margin: 10px;">
                    <a href="/urls/<%= item %>" class="btn btn-default">Edit</a>
                    <input class="btn btn-primary" type="submit" value="Delete">
                  </form>
                </td>
              </tr>
              <% }%>
          <% }%>
      </table>
      <a class="btn btn-primary" href="/urls/new">Shorten URL</a>
    </div>
  </body>
</html>