<!DOCTYPE html>
<html>
<head>
  <title>TinyApp</title>
</head>
<body>

  <header>
    <% include ./partials/_header %>
  </header>

  <div>
    <ul>
      <% for(var item in urls) {%>
          <% if(urls.hasOwnProperty(item)){ %>
            <li><%= item %> -> <%= urls[item] %>
              <form method="POST" action="/urls/<%= item %>/delete" style="display: inline; margin: 10px;">
                <a href="/urls/<%= item %>">Edit</a>
                <input type="submit" value="Delete">
              </form>
            </li>
          <% }%>
      <% }%>
    </ul>
    <a href="/urls/new">Shorten URL</a>
  </div>

</body>
</html>