<!DOCTYPE html>
<html>
<head>
  <title>TinyApp</title>
</head>
<body>

  <header>
    <% include ./partials/_header %>
  </header>

  <div>
    <% for(var item in urls) {%>
        <% if(urls.hasOwnProperty(item)){ %>
            <li><%= item %> : <%= urls[item] %></li>
              <form method="POST" action="/urls/<%= item %>/delete">
                <input type="submit" value="Delete">
              </form>
        <% }%>
    <% }%>
    <a href="/urls/new">Shorten URL</a>
  </div>
</body>
</html>