<!DOCTYPE html>
<html>
<head>
  <title>TinyApp</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-4">
        <header>
          <% include ./partials/_header %>
        </header>
      </div>
    </div>

    <div class="page-header">
      <h1>URLs</h1>
    </div>
    <table class="table-striped">
      <tr>
        <th>Short URL</th>
        <th>Long URL</th>
        <th>Actions</th>
      </tr>
        <% for(var item in urls) {%>
            <% if(urls.hasOwnProperty(item)){ %>
            <tr>
              <td><%= item %></td>
              <td><%= urls[item] %></td>
              <td>
                <form method="POST" action="/urls/<%= item %>/delete" style="display: inline; margin: 10px;">
                  <a href="/urls/<%= item %>">Edit</a>
                  <input type="submit" value="Delete">
                </form>
              </td>
            </tr>
            <% }%>
        <% }%>
    </table>
    <a href="/urls/new">Shorten URL</a>
  </div>
</body>
</html>